
/* --------------------------------------------- */
/*      Aspectos generales de la pagina          */
/* --------------------------------------------- */

*{
    transition: 300ms;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f5ebdc;
}


/* --------------------------------------------- */
/*               Sección Navegador               */
/* --------------------------------------------- */

header{
    background-color: #f5ebdc;
}

.nav_main{
    background-color: #f5ebdc;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    margin-top: -2vh;
}

.button_nav{
    border: none;
    background-color: #f5ebdc;
    color: #502314;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 10px;
    height: 4vh;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.9vh;
    align-content: center;
}

.button_nav:hover{
    border: none;
    background-color: #dac9b0;
    color: rgba(215, 35, 0, 0.8);
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 10px;
    height: 4vh;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}

.button_nav_1{
    border: none;
    background-color: #d83515;
    font-family: 24px FlameSans-Regular-5;
    font-size: 2vh;
    padding: 1vh 2vh;
    height: 4vh;
    max-height: 6vh;
    border-radius: 50vh;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.nav_container{
    width: 200vh;
    display: flex;
    justify-content: space-between;
    margin-left: -16vh;
    position: fixed;
    background-color: #f5ebdc;
    padding: 2vh 40vh 2vh 40vh;
}

#menu-nav{
    width: 130vh;
    min-width: 120vh;
    max-width: 160vh;
    margin: 0 auto;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.img_bk{
    width: 5vh;
    max-width: 8vh;
}


button:hover{
    cursor: pointer;
}

.lista-nav{
    display: none;
    list-style-type: none;
}

.lista-nav:hover{
    display: block;
    list-style-type: none;
}

/* --------------------------------------------- */
/*           Fin Sección Navegador               */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*               Sección Banner                  */
/* --------------------------------------------- */

.banner-div{
    height: 63vh;
    padding-left: 5vh;
    padding: 0vh 28vh;
    margin-top: 9vh;
    background-color: #009338;
    padding-top: 2vh;
}

.banner_img{
    height: 63vh;
    background-color: #009338;
}

/* --------------------------------------------- */
/*             Fin Sección Banner                */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*             Seccion Middle page               */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*             Seccion Cupones                   */
/* --------------------------------------------- */


.cupones, .novedades{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #502314;
    font-size: 2.5vh;
}

#middle_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cupones_section{
    margin-top: 10vh;
    width: 120vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 175vh;
    margin-top: 8vh;
}

.cupones-img{
    display: flex;
    grid-row: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-cupones{
    height: 24vh;
    max-height: 44vh;
    margin-top: 7vh;
    border-radius: 2vh;
}

.img-cupones:hover{
    cursor: pointer;
}

.title-cupon, .title-novedades{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 120vh;
    max-width: 177vh;
}

.t-cupon-h2, .t-novedades-h2{
    width: 60vh;
    max-width: 87.5vh;
    display: flex;
    justify-content: start;
}

.t-cupon-a a, .t-novedades-a a{
    text-decoration: none;
    color: #d83515;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vh;
    width: 10vh;
}

.t-cupon-a, .t-novedades-a{
    width: 60vh;
    max-width: 87.5vh;
    display: flex;
    justify-content: end;
}

/* --------------------------------------------- */
/*             Fin Seccion Cupones               */
/* --------------------------------------------- */



/* --------------------------------------------- */
/*             Seccion Locales                   */
/* --------------------------------------------- */


.container-locales{
    width: 120vh;
    max-width: 175vh;
    margin: 0 auto;
    background-color: #EFE0CC;
    height: 30vh;
    max-height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1vh;
    justify-content: space-evenly;
}

.encuentra-local{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vh;
    max-width: 100vh;
    margin-left: -10vh;
}

.niña-buscando{
    height: 17vh;
    max-height: 40vh;
}

.encuentra-local h2{
    font-family:  Flame-Regular-4;
    font-weight: bold;
    font-size: 3vh;
    margin-bottom: 2vh;
    color: #502314;
}

.encuentra-local p{
    font-family: FlameSans-Regular-5;;
    margin-bottom: 3vh;
    color: #502314;
}

.input-locales input{
    height: 6vh;
    max-height: 8vh;
    width: 47vh;
    padding-left: 2vh;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 1vh;
}

.input-locales{
    background-color: #FFFFFF;
    width: 54vh;
    max-width: 80vh;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    border: 1px solid #d1c4b2;;
}

.input-locales img{
    cursor: pointer;
    height: 3vh;
}



/* --------------------------------------------- */
/*             Fin Seccion Locales               */
/* --------------------------------------------- */


/* --------------------------------------------- */
/*             Seccion Novedades                 */
/* --------------------------------------------- */

.novedades_section{
    margin-top: 10vh;
    width: 120vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 175vh;
    margin-top: 8vh;
}

.container_novedades{
    width: 120vh;
    max-width: 175vh;
    flex-direction: row;
    display: flex;
    grid-row: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3vh;
}

.novedad img{
    height: 24vh;
    max-height: 44vh;
}

.img-nov{
    border-radius: 2vh;
    height: 24vh;
    max-height: 44vh;
    margin-bottom: 2vh;
    overflow: hidden;
}

.img-nov:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px
}

.novedad{
    width: 36vh;
    max-width: 45vh;
    border-radius: 2vh;
    overflow: hidden;
    justify-items: center;
}


.nov-text h2{
    color: #502314;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5vh;
}

.nov-text p{
    margin-top: 2vh;
    font-size: 2.1vh;
    color: #502314;
    font-family: FlameSans-Regular-5;
}

/* --------------------------------------------- */
/*         Fin Seccion Novedades                 */
/* --------------------------------------------- */


/* --------------------------------------------- */
/*            Seccion Link descarga              */
/* --------------------------------------------- */

#app-container{
    height: 60vh;
    max-height: 80vh;
    background-color: #d72300;
    padding-top: 6vh;
    padding-bottom: 0;
}

.container-all-apps{
    width: 145vh;
    max-width: 170vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-container div img{
    height: 60vh;
    max-height: 70vh;
}

.descripcion-app{
    height: 20vh;
    width: 38vh;
    max-width: 45vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 10vh;
    margin-top: 1vh;
}   

.container-text-a{
    display: flex;
    flex-direction: column;
    width: 70vh;
}

.container-text-a h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 7.2vh;
}

.descarga_link {
    width: auto !important;
    height: 5.5vh !important;
    max-width: none !important;
    object-fit: contain;
}

.descarga_link:hover{
    cursor: pointer;
}

.container-text-a p{
    color: #6c2308;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2vh;
    font-size: 2vh
}

/* --------------------------------------------- */
/*        Fin Seccion Link descarga              */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*           Fin Seccion Middle page             */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*               Seccion Footer                  */
/* --------------------------------------------- */


footer{
    background-color: #502314;
    height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_logo_bk{
    height: 2.5vh;
}

#footer-link{
    height: 25vh;
    width: 150vh;
    max-width: 175vh;
    display: flex;
    flex-direction: row;
    margin-top: 7vh;
    justify-content: space-between;
}

/* --------------------------------------------- */
/*            Seccion Links Footer               */
/* --------------------------------------------- */

.more-links{
    display: flex;
    flex-direction: row;
}

.info_bk, .informacion{
    display: flex;
    flex-direction: column;
}

.info_bk h2, .informacion h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 4vh;
    font-weight: bold;
    font-size: 3vh;
}

.info_bk{
    margin-right: 18vh;
}

.link_footer{
    color: #fffefd;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2vh;
    font-size: 2vh;
    font-weight: bold;
}

.link_footer::after{
    color: #fffefd;
    text-decoration: none;
}

.link_footer:hover{
    color: #d72300;
}

/* --------------------------------------------- */
/*          Fin Seccion Links Footer             */
/* --------------------------------------------- */


/* --------------------------------------------- */
/*                  Seccion hr                   */
/* --------------------------------------------- */
hr{
    background-color: #805f55;
    border: none;
    height: 1px;
    width: 150vh;
    max-width: 175vh;
}

/* --------------------------------------------- */
/*              Fin Seccion hr                   */
/* --------------------------------------------- */


/* --------------------------------------------- */
/*       Seccion Redes sociales y derechos       */
/* --------------------------------------------- */

#redes_derechos{
    width: 150vh;
    max-width: 175vh;
    margin-top: 5vh;
    align-items: center;
}

.final-footer{
    display: flex;
    flex-direction: row;
}

.derechos-reservados, .redes-sociales{
    width: 75vh;
    max-width: 87.5vh;
}

.derechos-reservados{
    display: flex;
    justify-content: start;
    align-items: center;
}

.derechos-reservados p{
    font-size: 1.8vh;
    color: white;
}

.redes-sociales{
    display: flex;
    justify-content: end;
}

.red-social{
    height: 3.5vh;
    margin-left: 3vh;
}

.red-social:hover{
    cursor: pointer;
}

/* --------------------------------------------- */
/*     Fin Seccion Redes sociales y derechos     */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*              Fin Seccion Footer               */
/* --------------------------------------------- */

/* --------------------------------------------- */
/*                 Fin de CSS                    */
/* --------------------------------------------- */